---
layout: default
title: Home
---
<p>The theological syntopticon is a database of sections of theological works discussing the various topics of theology. The syntopticon allows one to find sections in the writings of many theologians on a given topic.</p>

<p>Data files: {{ site.data | jsonify }}</p>

{% assign all_works = "" | split: "" %}

{%- comment -%} Collect all works from all data files {%- endcomment -%}
{% for pair in site.data %}
  {% if pair[1].works %}
    {% assign all_works = all_works | concat: pair[1].works %}
  {% endif %}
{% endfor %}

{%- comment -%} Sort by year (ascending = oldest first) {%- endcomment -%}
{% assign all_works = all_works | sort: "year" %}

{%- comment -%} Track current author for grouping {%- endcomment -%}
{% assign current_author = "" %}

{% for work in all_works %}
  {% if work.author != current_author %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}

    <h3>{{ work.author }}</h3>
    <ul>

    {% assign current_author = work.author %}
  {% endif %}

  <li>
    {{ work.title }}
    {% if work.year %} ({{ work.year }}){% endif %}
  </li>

  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}

