---
layout: default
title: Topics Index
permalink: /topics/
---

<h1>Topics</h1>

{% comment %}Combine all assignments from all _data files{% endcomment %}
{% assign all_assignments = "" | split: "" %}
{% for pair in site.data %}
  {% assign data_value = pair[1] %}
  {% if data_value.assignments %}
    {% assign all_assignments = all_assignments | concat: data_value.assignments %}
  {% endif %}
{% endfor %}

{% comment %}Display topics recursively{% endcomment %}
{% for topic in site.data.topics_definitions.topics %}
  <h2 id="{{ topic.id }}">{{ topic.name }}</h2>
  {% if topic.description %}
    <p>{{ topic.description }}</p>
  {% endif %}

  {% assign parent_level = 3 %}
  {% assign children = topic.children | default: empty %}
  {% include topic_children.html children=children parent_level=parent_level all_assignments=all_assignments %}
{% endfor %}
